/*
Feuille de style

Balises existantes : <html> ; <head> ; <body> ; <p> ; <b> ; <div> ; <> ; <>

Rappel :	balise existante -> NAME{}
			class -> .NAME{}
			id -> #NAME{}

			Balise a l'interieur d'une autre -> NAME1 NAME2{}
			Balise qui en suit une autre -> NAME1 + NAME2{}



	- Billy Betz -
*/

/* classes existantes */

html, body
{
  background-color: #e9ebee;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height:100%;
}
body
{
  margin: 0 2rem 0 2rem;
}

a
{
	text-decoration:none;	
}

hr{
    margin: 1em auto;
    width: 100%;
    height: 1px;
    /*background-color: #3c3c3c;
    border: none;*/
}

img
{
  border: none;
  text-decoration:none; 
}

/* classes sur toutes les pages */

.main
{
	margin-top: 3em;
}

/*-_-_-_-_- header -_-_-_-_-*/

.menu
{
  height:65px;
  width: 100%;
  min-width: 1012px;
  /*border-bottom:1px solid black;*/
      background-color: rgb(157, 29, 29);
  border-radius: 15px;
}

.menu_button
{
  display: block;
  width: 126px;
  height: 34px;
  border-radius: 4px;
  background-color: rgb(111, 30, 30);
  color: white;
  text-align: center;
  font-size: 16px;
  border: #88ca71 solid 1px;
  line-height: 34px;
	
}

.menu_button:active
{
	color:black
}

.menu_button:hover
{
	background-color: rgb(140,140,140);
}

.index_button
{
	display:block;
	vertical-align:middle;
	display: table-cell;
	width:100px;
	height: 100%;
	background-color:rgb(120,120,100);
}

.index_button > img
{
	margin-left:25px;
	margin-top:5px;
}



.bonjour
{
	text-align:center;
	font-size:30px;
	white-space: nowrap;
	color: white;
}

/*-_-_-_-_- montage.php -_-_-_-_-*/

.filter_container
{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 10em;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-top: 3em;
    background-color: #efefef;
    border: #88ca71 solid 1px;
}

.filter_image
{
    display: inline-block;
    border: black solid 1px;
    height: 7em;
    width: 7em;
    margin-top: 15px;
}

.button_filter
{

}

.video_interface
{
	width: 22em;
    height: 265px;
}

#video
{
    width: 22em;
    height: 265px;
    background-color: #efefef;
    border: #88ca71 solid 1px;
}

.button_photo
{
	height: 2em;
    width: 10em;
    margin-left: 6em;
    white-space: nowrap;
    background-color: #e8e3e3;
    padding: 3 20 3 20;
    border: grey solid 1px;
    border-radius: 4px;
    color: black;
    cursor: pointer;
}

.photos_interface
{
	width: 22em;
    height: 265px;
}


#photo_cam
{
	width: 22em;
  height: 265px;
  background-color: #efefef;
  border: #88ca71 solid 1px;
  position: absolute;
}

#photo_imported
{
  width: 22em;
  height: 265px;
  background-color: #efefef;
  border: #88ca71 solid 1px;
  position: absolute;
}

#monfichier
{
  margin-top: 21em;
}

#button_download
{
    height: 2em;
    width: 10em;
    margin-left: 8em;
    white-space: nowrap;
    background-color: #e8e3e3;
    padding: 3 20 3 20;
    border: grey solid 1px;
    border-radius: 4px;
    color: black;
}

.preview_container
{
    overflow: scroll;
    height: 335px;
    background-color: #efefef;
    border: #88ca71 solid 1px;
}

.vos_photo
{
  width: 100%;
  background-color: #9d1d1d;
  display: block;
  color: white;
  text-align: center;
}

.mini_galerie
{
    width: 160px;
    height: 160px;
    background-color: grey;
    margin: auto;
    text-align: center;
}



/*-_-_-_-_- login.php - register.php - set_new_pass.php  -_-_-_-_-*/

.log_reg
{
  vertical-align: text-top;
  text-align: center;
  border-radius: 20px;
  width: 600px;
  height: 30em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.log-text1
{
  color:rgb(231, 84, 48);
  font-size: 40px;
}

.log-formulaire
{
	margin-top: 50px;
	line-height: 25px;
}

.log-sub
{
	margin-top: 20px;
}

.forget_mdp
{
	margin-bottom: -17px;
	font-size: 13px;
	text-decoration: underline;
}

.already_reg
{
	margin-bottom: -17px;
	font-size: 13px;
}

.err_log
{
	float:left
	font-size: 16px;
	color:red;
}

/*-_-_-_-_- my_account.php -_-_-_-_-*/

.feuille_gestion_compte
{
  vertical-align: text-top;
  text-align: center;
  border-radius: 20px;
  width: 600px;
  /*height: 30em;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.setting_name
{
	margin-left: 1em;
	text-align: left;
	font-size: 13px;
}

.setting_data
{
	color: grey;
}

.add_button
{
  width: 6em; 
  margin-left: 2em;
}

.delete_button
{
  width: 6em; 
  margin-left: 2em;
}

/*-_-_-_-_- footer.php -_-_-_-_-*/

.footer
{

  background-color:rgb(100,100,70);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  /*margin:auto;*/
  /*vertical-align: bottom;*/
  text-align: center;
  color: white;
  margin-top: 3em;
}
