/*
Feuille de style

Balises existantes : <html> ; <head> ; <body> ; <p> ; <b> ; <div> ; <> ; <>

Rappel :	balise existante -> NAME{}
			class -> .NAME{}
			id -> #NAME{}

			Balise a l'interieur d'une autre -> NAME1 NAME2{}
			Balise qui en suit une autre -> NAME1 + NAME2{}



	- Billy Betz -
*/

/* classes existantes */

html, body
{
  background-color: #e9ebee;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height:100%;
}
body
{
	margin: 2rem;
}

a
{
	text-decoration:none;	
}

hr{
    margin: 1em auto;
    width: 100%;
    height: 1px;
    /*background-color: #3c3c3c;
    border: none;*/
}

/* classes sur toutes les pages */

.main
{
	margin-top: 3em;
}

/*-_-_-_-_- header -_-_-_-_-*/

.menu
{
  height:65px;
  width: 100%;
  min-width: 1012px;
  /*border-bottom:1px solid black;*/
  background-color:rgb(100,100,70);
  border-radius: 15px;
}

.menu_button
{
	    display: block;
    width: 126px;
    height: 34px;
    border-radius: 4px;
    background-color: rgb(150,150,150);
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 34px;
	
}

.menu_button:active
{
	color:black
}

.menu_button:hover
{
	background-color: rgb(140,140,140);
}

.index_button
{
	display:block;
	vertical-align:middle;
	display: table-cell;
	width:100px;
	height: 100%;
	background-color:rgb(120,120,100);
}

.index_button > img
{
	margin-left:25px;
	margin-top:5px;
}



.bonjour
{
	text-align:center;
	font-size:30px;
	white-space: nowrap;
	color: #e9ebee;
}

/*-_-_-_-_- montage.php -_-_-_-_-*/

.filter_container
{
  overflow: auto;  
  height: 9em;
  margin-top: 2em;
  margin-left: 20%;
  margin-right: 20%;
  white-space: nowrap;
  text-align: center;
}

.filter_image
{
  display: inline-block;
  border:  black solid 1px;
  height: 80%;
  width: 7em;
  margin-left: auto;
}

.video_interface
{
	width: 22em;
    height: 265px;
}

#video
{
    width: 22em;
    height: 265px;
}

.button_photo
{
	height: 2em;
    width: 10em;
    margin-left: 6em;
    white-space: nowrap;
    background-color: #e8e3e3;
    padding: 3 20 3 20;
    border: grey solid 1px;
    border-radius: 4px;
    color: black;
    cursor: pointer;
}

.photos_interface
{
	width: 22em;
    height: 265px;
}


#photo
{
	width: 22em;
    height: 265px;
    background-color: #a7ada7;
}

#button_download
{
    height: 2em;
    width: 10em;
    margin-left: 8em;
    white-space: nowrap;
    background-color: #e8e3e3;
    padding: 3 20 3 20;
    border: grey solid 1px;
    border-radius: 4px;
    color: black;
}

.mini_galerie
{
    width: 160px;
    height: 160px;
    background-color: grey;
    margin: auto;
}



/*-_-_-_-_- login.php - register.php - set_new_pass.php  -_-_-_-_-*/

.log_reg
{
  vertical-align: text-top;
  text-align: center;
  border-radius: 20px;
  width: 600px;
  height: 30em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.log-text1
{
  color:rgb(231, 84, 48);
  font-size: 40px;
}

.log-formulaire
{
	margin-top: 50px;
	line-height: 25px;
}

.log-sub
{
	margin-top: 20px;
}

.forget_mdp
{
	margin-bottom: -17px;
	font-size: 13px;
	text-decoration: underline;
}

.already_reg
{
	margin-bottom: -17px;
	font-size: 13px;
}

.err_log
{
	float:left
	font-size: 16px;
	color:red;
}

/*-_-_-_-_- my_account.php -_-_-_-_-*/

.setting_name
{
	margin-left: 1em;
	text-align: left;
	font-size: 13px;
}

.setting_data
{
	color: grey;
}

/*-_-_-_-_- footer.php -_-_-_-_-*/

.footer
{

  background-color:rgb(100,100,70);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  /*margin:auto;*/
  /*vertical-align: bottom;*/
  text-align: center;
  color: white;
  margin-top: 5em;
}
