/*
Feuille de style

Balises existantes : <html> ; <head> ; <body> ; <p> ; <b> ; <div> ; <> ; <>

Rappel :	balise existante -> NAME{}
			class -> .NAME{}
			id -> #NAME{}

			Balise a l'interieur d'une autre -> NAME1 NAME2{}
			Balise qui en suit une autre -> NAME1 + NAME2{}



	- Billy Betz -
*/

/* classes existantes */

html, body
{
  background-color: #e9ebee;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height:100%;
}
body
{
	margin: 2rem;
}

a
{
	text-decoration:none;
	
}

/* classes sur toutes les pages */

.main
{
	margin-top: 3em;
}

/*-_-_-_-_- header -_-_-_-_-*/

.menu
{
  height:65px;
  width: 100%;
  min-width: 1012px;
  /*border-bottom:1px solid black;*/
  background-color:rgb(100,100,70);
  border-radius: 15px;
}

.menu_button
{
	display:block;
	width:126px;
	height:30px;
	margin-top:13px;
	padding-top:5px;
	border: 1px solid grey;
	border-radius:4px;
	background-color:rgb(150,150,150);
	text-decoration:none;
	color:white;
	text-align:center;
	vertical-align:middle;
	font-size: 17px;
	
}

.menu_button:active
{
	background-color:orange;
	color:black
}

.menu_button:hover
{
	background-color: rgb(140,140,140);
	font-size:18; 
	width:130px;
	height:33px;
	display:block;
}

.index_button
{
	display:block;
	vertical-align:middle;
	display: table-cell;
	width:100px;
	height: 100%;
	background-color:rgb(120,120,100);
}

.index_button > img
{
	margin-left:25px;
	margin-top:5px;
}



.bonjour
{
	width:200px;
	height:40px;
	/* background-color:rgb(150,150,150); */
	/* border: 1px solid grey; */
	margin-top:10px;
	text-align:center;
	font-size:30px;
	float:left;
}



/*-_-_-_-_- index.php -_-_-_-_-*/

.video_interface
{
	width: 22em;
    height: 265px;
}

#video
{
    width: 22em;
    height: 265px;
}

.button_photo
{
	height: 2em;
    width: 10em;
    margin-left: 7em;
    white-space: nowrap;
    background-color: #e8e3e3;
    padding: 3 20 3 20;
    border: grey solid 1px;
    border-radius: 4px;
    color: black;
    cursor: pointer;
}

.photos_interface
{
	width: 22em;
    height: 265px;
}


#photo
{
	width: 22em;
    height: 265px;
    border: 2px solid black;
    background-color: #a7ada7;
    margin-top: -1px;
}

#button_download
{
    height: 2em;
    width: 10em;
    margin-left: 7em;
    white-space: nowrap;
    background-color: #e8e3e3;
    padding: 3 20 3 20;
    border: grey solid 1px;
    border-radius: 4px;
    color: black;
}



/*-_-_-_-_- login.php - register.php - set_new_pass.php  -_-_-_-_-*/

.log_reg
{
  vertical-align: text-top;
  text-align: center;
  border-radius: 20px;
  width: 600px;
  height: 30em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.log-text1
{
  color:rgb(231, 84, 48);
  font-size: 40px;
}

.log-formulaire
{
	margin-top: 50px;
	line-height: 25px;
}

.log-sub
{
	margin-top: 20px;
}

.forget_mdp
{
	margin-bottom: -17px;
	font-size: 13px;
	text-decoration: underline;
}

.already_reg
{
	margin-bottom: -17px;
	font-size: 13px;
}

.err_log
{
	float:left
	font-size: 16px;
	color:red;
}


/*-_-_-_-_- footer -_-_-_-_-*/

.footer
{

  background-color:rgb(100,100,70);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  /*margin:auto;*/
  /*vertical-align: bottom;*/
  text-align: center;
  color: white;
  margin-top: 3em;
}
